@font: Arial;

.font-family {
  //font-family: Anton;
}


.name {
  color: #c5c4b6;
  font-family: @font;
  font-size: 35px;
}

.p-first {
  color: #eeedfb;
  font-family: @font;
  font-size: 15px;
  padding-top: 5px;
}

.container-fluid {
   //padding-right: 0;
  }


.navbar-default {
  background-color: #142144;
  border-color: #142144;
  min-height: 70px;
  margin-bottom: 0;
  border-radius: 0;
padding-left: 20px;
}


.menu-item {
   margin-left: 50px;
}
.navbar-brand {
  float: left;
  height: 85px;
  padding: 0;
  font-size: 30px;
  padding-top: 20px;
  color: #c5c4b6!important;
}

.logo-strong{
  padding-right: 75px;
}


.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  color: #c5c4b6;
}

.togglle {
  display: none;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #c5c4b6;
  letter-spacing: 2px;
  position: absolute;
  right: 1em;
  transform: rotate(90deg);
}


.menu-item {
  display: inline-block;
  font-size: 18px;
}

.navbar-nav {
  padding-top: 15px;
}


.menu-link {
  text-decoration: none;
  font-family: @font;
  display: inline-block;
  color: #eeedfb !important;
  padding: 3px 15px
}

.menu-link:hover {
  text-decoration: none;
  color: #eeedfb;
  border-bottom: 2px solid #a2c600;
  border-radius: 2px;
}

.menu-link:active {
  text-decoration: none;
  color: #eeedfb;
  border-bottom: 2px solid #a2c600;
  border-radius: 2px;
}

.menu-link:focus {
  text-decoration: none;
  color: #eeedfb;
  border-bottom: 2px solid #a2c600;
  border-radius: 2px;
}

.menu:after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 0;
  font-size: 0;
}

.margin-top {
  margin-top: 30px;
}

.margin {
  margin-top: 15px;
}

.bg-foto {
  background-image: url("../../foto/pic2.JPG");
  height: 350px;
  //width: 100%;
}

.foto-text {
  color: #ffffff;
  margin-top: 70px;
  font-size: 25px;
}

.box {
  display: block;
  background: #c5c4b6;;
  height: 290px;
  width: 250px;
  box-shadow: 4px 1px 5px #000;
  border-radius: 3px;
  opacity: 0.95;
  margin-top: -20px;
}

.h2 {
  color: #142144;
  text-align: center;
  padding-top: 10px;
}

.phone {
  color: #645f69;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.phone2 {
  color: #645f69;
  padding-left:  3px;
  font-size: 21px;
}

.br {
  padding-top: 30px;
}

.viber {
  height: 60px;
  width: 60px;
  margin: 0;
  padding: 0;
}

.facebook {
  text-align: center;
  padding-top: 20px;
}

.img-facebook {
  height: 50px;
  width: 130px;
}

.img-facebook:hover {
  box-shadow: 4px 4px 4px #333333;
  opacity: 0.8;
  transition: 0.5s;
}

.gallery {
  margin-top: 50px;
}

.pic4 {
  height: 200px!important;
  width: auto!important;
}

.pic6 {
  height: 200px!important;
  width: 100%!important;
}

.header {
  color: #645f69;
  text-align: center;
  font-size: 30px;
}

.address {
  color: #383838;
  font-size: 20px;
  margin-top: 30px;
}

.h2-address {
  color: #142144;
}

.coordinates {
  font-size: 20px;
  margin-top: 30px;
  display: none;
}

.coordinates-link {
  text-decoration: none;
  color: #767676;
}

.coordinates-link:hover {
 text-decoration: none;
  color: #4b4b4b;
  text-shadow: 1px 1px 1px #000;
}

.margin-top-map {
  margin-top: 50px;
  margin-left: 50px;
}

.navbar-default .navbar-toggle {
   border-color: #142144;
}

.footer{
  height: 50px;
  background: #142144;
  text-align: center;
  color: #c5c4b6;
  padding-top: 15px;
}

.last {
  padding-top: 15px;
}

.display {
  display: none;
}


@media screen and (max-width: 768px) {

  .foto-text{
    display: none;
  }



.display {
  display: block;
  margin-top: 50px;
}

  .logo {
    border-bottom: 1px solid #c5c4b6;
  }

  .menu-item {
    display: block;
    line-height: 2;
    margin-left: 0;
  }

  .navbar-default {
    padding-left: 0;
    text-align: center;
  }

  .coordinates {
    display: block;
  }

  .margin-top-map {
    display: none;
  }
}